.containerTable {
  width: 80vw;
  margin: 0 auto;
}

.containerSearch {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.75rem;
}

.contentSearch {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 2rem 1.5rem 2rem;
  background-color: rgba(0, 0, 0, 0.1);
}

.actionButtons {
  display: flex;
  gap: 1rem;
}

.actionButton {
  transition: 0.5s;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}

.actionButton:hover {
  cursor: pointer;
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2);
}
