*, body, html {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 1rem;
    font-family: Helvetica, Arial, sans-serf;
}

.containerHeader {
    width: 100%;
    background-color:indigo;
    padding: 2rem;
}

.contentHeader {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contentHeader h2 {
    font-size: 2.5rem;
    color: white;
    padding-bottom: 1rem;
    font-weight: bold;
}

.contentHeader p {
    font-size: 1.5rem;
    color: white;
}